body {
    background-color: grey;
}

button {
    padding: 8px 20px;
    border-radius: 15%;
    background-color: #383c44;
    color: ghostwhite;
}

#download-cards {
    display: block;
    margin: 20px auto;
}

#card-list {
    display: flex;
    flex-wrap: wrap;
    color: ghostwhite;
}

.card {
    display: flex;
    flex-direction: column;
    width: calc((100%/5));
    background-color: #383c44;
}

.card-field {
    margin: 20px 10px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 30px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}